@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}
.main-header{
    display: grid;
	position:sticky;
	left:0;
	top:0;
	width:100%;
	z-index:9;
	background:#ffffff;
}
.main-header .large-letter{
	position: absolute;
    width: 100%;
    color: #fafafa;
    line-height: 0.3em;
    font-size: 400px;
    letter-spacing: 1px;
    font-weight: 700;
    height: 158px;
    overflow: hidden;
    text-transform: uppercase;
}
.header-upper{
	padding: 2rem;
	display: grid;
	position: relative;
    grid-template-columns: 20% 60% 20%;
}
.logo {
    position: absolute;
    left: 3.75rem;
    top: 3.65rem;
}
.logo img{
	width: 200px;
    position: absolute;
}
.main-menu{
	display: grid;
    justify-content: space-evenly;
}
.dropdown{
	transition: all 300ms ease;
}
.dropdown > ul {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	left: 25rem;
	top: 50%;
	width: 200px;
	z-index: 100;
	background-color: #ffffff;
	border: 3px solid #ff3271;
	transform: translateY(30px);
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05), -2px 0px 5px 1px rgba(0,0,0,0.05);
}
.dropdown:nth-of-type(2) > ul{
	left: 30rem;
}
.dropdown:nth-of-type(3) > ul{
	left: 35rem;
}
.dropdown:nth-of-type(4) > ul{
	left: 45rem;
}
.dropdown:hover > ul{
	opacity: 1;
	visibility: visible;
}
.navigation > li {
    padding: 35px 30px;
    margin: 0px 2px;
    display: inline-grid;
}
 .navigation > li > ul > li > a {
    position: relative;
    display: block;
    padding: 10px 20px;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #262626;
    text-align: left;
}

.navigation > li > ul > li:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 0%;
    height: 100%;
    display: block;
    background: #ff517a;
}
.navigation > li > ul > li:hover:before {
    width: 100%;
    transition: all 500ms ease;
}
.navigation > li > ul > li:hover > a {
    color: #fff;
    background: transparent;
}
.navigation > li > ul > li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}
.socialicon {
    text-align: center;
	margin-top: 1.7rem;
	color: #fff;
}
.socialicon i{
	width: 30px;
	height: 30px;
	background: #ff3271;
	text-align: center;
	border-radius: 100%;
	cursor: pointer;
	transition: all 300ms ease;
}
.socialicon .fab {
    padding: 7px;
}
.socialicon .fab:hover{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
/* HEADER ENEDED */
.content-top{
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-gap: 0;
	height: 100vh;
	transition: all 500ms ease-out;
	overflow: hidden;
}
.l-img {
	height:100%;
	width:100%;
	overflow: hidden;
}
.l-img img{
	transition: all 1s ease-out;
}
.l-img img:hover{
	transform: scale(1.1) rotate(3deg);

}
.content-top>.l-img img{
	width: 100%;
}
.content-top-right{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(2,1fr) ;
	grid-gap: 0;}

.content-top-right>.s-img img{
	width: 100%;
	height: auto;
}
/*  */
.content-2{
	display: grid;
	grid-template-rows: repeat(3,1fr);
}

.row-1{
	display: grid;
	grid-template-columns: 1fr  1fr 2fr;
}

.r-img img{
	width: 100%;
}

.row-2{
 display: grid;
 grid-template-columns: 2fr  1fr 1fr;
}
/* FOOTER STARTED */
footer{
    text-align: center;
    padding: 1rem;
}
footer img{
    width: 20%;
}
footer p{
    padding: 1rem;
}