*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.main-header{
    display: grid;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	z-index:999;
	background:#ffffff;
	transition:all 500ms ease;
}
.main-header .large-letter{
	position:absolute;
	left: -20%;
	width:140%;
	top: 0px;
	text-align:center;
	color: #fafafa;
	line-height: 0.3em;
	font-size: 400px;
	letter-spacing: 1px;
	font-weight: 700;
	height:158px;
	overflow: hidden;
	text-transform: uppercase;
}
.header-upper{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}